{{define "sidebar"}}
<aside class="main-sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">仪表盘</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="/"><i class="fa fa-link"></i> <span>shadowsocks</span></a></li>
            <li><a href="/system.html"><i class="fa fa-link"></i> <span>查看系统信息</span></a></li>
            <li><a href="/logger.html"><i class="fa fa-link"></i> <span>查看运行日志</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
{{end}}